/* google Fonts 下載字型 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

/* 整個網頁設定 */
body {
    background-image: url(../images/bg1.jpg);
    font-family: 'Noto Sans TC', sans-serif;
    padding: calc(100% - 50);
}

/* 刊頭 */
header {
    height: 90x;
    position: relative;
    /* 浮在最上面 */
    z-index: 99999;
}

/* LOGO */
#logo {
    /* 方法一、簡單但有時候元素多會被干擾，其他的會跟著一起移動 */
    /* margin: 20px 0 0 40px; */
    /* 方法二、relative相對定位，以自身的位置去做基準浮起來，正值向內、負直向外 */
    position: relative;
    top: 20px;
    left: 20px;
}

/* 功能icon＋功能表 */
/* 後代選取器 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

/* 功能icon＋功能表 字 */
nav ul a {
    text-decoration: none;
    /* border: 1px solid red; */
}

/* 按鈕區塊 */
#menuBtn{
    /* border: 1px solid white; */
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 110;
    width: 50px;
    height: 45px;
    display: block;
}

/* 按鈕 內容 */
#menuBtn div{
    background-color: white;
    height: 5px;
    margin: 8px;
    transition: 3.5s;
}

/* 關閉按鈕 上線（左叉叉） */
#menuBtn.closeBtn div:nth-of-type(1){
    background-color: red;
    transform: translate(0,13px) rotate(405deg);
}

/* 按鈕 中線 */
#menuBtn.closeBtn div:nth-of-type(2){
    /* background-color: red; */
    /* 縮放 */
    transform: scaleX(0);
}

/* 關閉按鈕 下線（右叉叉） */
#menuBtn.closeBtn div:nth-of-type(3){
    /* background-color: red; */
    transform: translate(0,-13px) rotate(-405deg);
}

/* 功能表 */
#mainNav {
    position: absolute;
    right: 0;
    top: 59px;
    /* border: 5px solid red; */
    /* 不同單位的計算方式calc ＊減號前後一定要空格 */
    /* 扣掉前面的logo寬 */
    width: calc(100% - 300px);
}

/* 功能表 */
/* 子代選取器 */
#mainNav>ul {
    display: flex;
    /* border: 1px solid red; */
}

/* 功能表 每個主題＋內容 */
#mainNav>ul>li {
    /* border: 1px solid yellow; */
    flex: 1;
}

/* 功能表 每個主題＋內容：滑入 子選單 */
#mainNav>ul>li:hover ul {
    display: block;
    /* border: 1px solid rgb(201, 97, 18); */

}


/* 功能表 每個主題＋內容 */
#mainNav ul li a {
    text-align: center;
    /* border: 1px solid rgb(201, 97, 18); */
    display: block;
    color: rgb(1, 92, 71);
}

#mainNav>ul>li>a {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    padding: bottom 3px; ;
}

#mainNav>ul>li>a:hover {
    background-image: radial-gradient(at center bottom, rgb(255, 255, 255,0.6),rgba(255, 255, 255, 0) 65%);
}

#mainNav>ul>li>a::before{
    /* content: url(//images/mainIcon.png); */
    content: "";
    background-image: url(../images/mainIcon.png);
    /* 想要顯示多少的寬高 */
    width: 16px;
    height: 16px;
    /* 可以放在行內又可以控制寬高的型態inline-block，但margin上下就沒有效要改用top */
    display: inline-block;
    /* border: 1px solid red; */
    /* 用background-image就不需要溢出隱藏;用content則不行 */
    /* overflow: hidden; */
    position: relative;
    top: 2px;
    /* 方法一、通常用這個 */
    margin-right: 4px;
    /* 方法二、 */
    /* left: -4px; */
    transition: 0.5s;
}

#mainNav>ul>li:nth-of-type(2)>a::before{
    background-position: -16px 0;
}

#mainNav>ul>li:nth-of-type(3)>a::before{
    background-position: -32px 0;
}

#mainNav>ul>li:nth-of-type(4)>a::before{
    background-position: -48px 0;
}

#mainNav>ul>li:nth-of-type(5)>a::before{
    background-position: -64px 0;
}

#mainNav>ul>li:nth-of-type(6)>a::before{
    background-position: -80px 0;
}

#mainNav>ul>li:nth-of-type(1)>a:hover::before{
    background-position: 0 -16px;
}

#mainNav>ul>li:nth-of-type(2)>a:hover::before{
    background-position: -16px -16px;
}

#mainNav>ul>li:nth-of-type(3)>a:hover::before{
    background-position: -32px -16px;
}

#mainNav>ul>li:nth-of-type(4)>a:hover::before{
    background-position: -48px -16px;
}

#mainNav>ul>li:nth-of-type(5)>a:hover::before{
    background-position: -64px -16px;
}

#mainNav>ul>li:nth-of-type(6)>a:hover::before{
    background-position: -80px -16px;
}

#mainNav ul ul {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px 20px;
    /* display: none; */
}

/* 方法一、內距扣掉分隔線的粗細 */
#mainNav ul ul li {
    margin-bottom: 8px;
    padding-bottom: 8px;
}

#mainNav ul ul li:hover {
    margin-bottom: 8px;
    border-bottom: 1px dashed rgb(3, 78, 18);
    padding-bottom: 7px;
}

/* 方法二、分隔線用成透明 */
/* #mainNav ul ul li {
    margin-bottom: 8px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0);
    padding-bottom: 8px;
}
#mainNav ul ul li:hover {
    margin-bottom: 8px;
    border-bottom: 1px dashed rgb(3, 78, 18);
    padding-bottom: 8px;
} */

#mainNav ul ul li a {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
}

#memNav {
    /* 絕對定位 跟著父層relative走 */
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

#memNav ul {
    padding: 0 20px;
    /* background-color: #abbf90; */
    /* border-radius:10px 10px 10px 10px; */
}

#memNav ul li {
    float: left;
    margin: 0 8px;
    /* li給按鈕、ａ調內容 */
    /* background-color: #fff; */
    width: 100px;
    text-align: center;
}

#memNav ul a {
    color: white;
    /* border: 1px solid red; */
    display: block;
    font-size: 0.95em;
    /* border:  solid #000; */
    padding-left: 20px;
    position: relative;
    display: block;
    overflow: hidden;
}

#memNav ul a i{
    transition: 0.5s;
    position: absolute;
    left: 0;
}

#memNav ul a i:first-of-type{
    top: 4px;
}

#menNav ul a i:hover i:first-of-type{
    top: -17px;
}

#memNav ul a i:last-of-type{
    color: yellow;
    top: 25px;
}

#memNav ul a:hover i:last-of-type{
    top: 4px;
}

/* 補充說明 */
/* banner大小跟著body走 */
#banner {
    /* border自帶block跟width:100% */
    /* border: 2px solid red; */
    /* display: block; */
    /* width: 80%; */
}

/* img大小跟著banner走 */
#banner img {
    width: 100%;
}

main {
    /* height固定高，如果內容超出不會跟著變高，而會直接超出去。 */
    /* min-height最小高，最小會有XX高度，但內容超過會跟著變高，通常用這個。 */
    /* height: 300px; */
    min-height: 300px;
    /* 線性漸層 往右邊 均分*/
    /* background-image: linear-gradient(to right,red,white,yellow,orange); */
    /* 線性漸層 往右邊 顏色後面可以設定位置*/
    /* background-image: linear-gradient(to right,red,white 10%,yellow 90%,orange); */
    /* 線性漸層 45度角 */
    /* background-image: linear-gradient(45deg,red,white,yellow,orange); */
    /* 環狀漸層 */
    /* background-image: radial-gradient(circle,red,white,yellow,orange); */
    /* 環狀漸層 顏色後面可以設定位置*/
    /* background-image: radial-gradient(circle,red,white,yellow 90%,orange); */
    /* 環狀漸層 中心點的位置在正下方*/
    /* background-image: radial-gradient(circle at center bottom,red,white,yellow,orange); */
}

footer {
    background-color: rgba(88, 129, 69, 0.5);
    padding: 30px 0;
}

#footerList {
    /* 橫向排列 */
    display: flex;
}

.footerItem {
    /* border: 1px solid red; */
    /* flex: 1總和佔比均分 */
    flex: 1;
    /* 文本置中 */
    text-align: center;
    /* 框線-右邊：粗細 樣式虛線 顏色 */
    /* solid 直線
    dashed 虛線
    dotted 點線
    double 雙線 */
    border-right: 2px dashed rgb(255, 255, 255);
    /* 欄位間距jjjj
    加長讓虛線變長，border跟著欄位高度走 */
    padding: 30px 0 30px 0;
    margin-bottom: 20px;
    position: relative;
}

.item2 {
    /* 特別要調整其中一欄的寬度的話 */
    flex: 2;
}

/* 針對footerItem的最後一欄 不要有虛線 */
.footerItem:last-of-type {
    border: none;
}


.footerItem h2 {
    font-size: 1.2em;
    color: blue;
    margin: 0 0 8px 0;
    letter-spacing: 1em;
}

/* 更改icon style */
.footerItem h2 i{
    font-size: 120px;
    color: white;
    /* 置中 */
    position: absolute;
    top: 50%;
    left: 50%;
    /* border: 1px solid red; */
    transform: translate(-50%,-50%);
    /* 透明 */
    opacity: 0.5;
    /* 上下層級 下一層 */
    z-index: -1;
}

.footerItem p {
    font-size: 0.95em;
    color: blueviolet;
    margin: 0 0 5px 0;
}

#copyright {
    /* background-color: #fff; */
    text-align: center;
    /* 因a、spen、smail為行內元素（寬度無法指定，依內容而定）轉black用區塊把寬度打開置中才有用 */
    display: block;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

/* 媒體查詢 */
/* @media (條件) {
    CSS
} */

/* 媒體查詢（最大只到視窗600px）手機版 */
@media (max-width:600px){

    #mainNav{
        position: fixed;
        top: 0;
        left: 0;
        /* 放到最上層 */
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        /* 內距往下調 */
        padding-top: 110px;
    }
    #mainNav ul{
        display: block;
    }

    #mainNav>ul>li{
        margin-bottom: 30px;
    }

    #mainNav>ul>li>a{
        font-size: 1.1em;
    }

    #mainNav ul ul{
        background-color: transparent;
    }

    #mainNav ul ul li{
        border-bottom: 1px dashed white;
        margin: 0 100px;
    }

    #mainNav ul li a{
        color: white;
    }

    #footerList{
        /* 做頁尾直式呈現 */
        display: block;
    }
    .footerItem{
        /* 新增線到下方 */
        border-bottom: 1px dashed rgb(33, 71, 33);
        /* 右邊的線消失 */
        border-right: none;
        /* 給線左右間距 */
        margin: 0 30px;
    }
    /* #copyright{
        background-color: rgb(33, 71, 33);
        color: white;
    } */
}

@media (min-width:601px) and (max-width:960px){
    header{
        height: 140px;
    }
    #logo{
        top: 35px;
    }
    #mainNav{
        width: 100%;
        top: 110px;
    }
}

/* @media (min-width:601px) and (max-width:768px){
    footer{
        background-color: red;
    }
} */

/* @media (min-width:768px) and (max-width:1366px){
    footer{
        background-color: orange;
    }
} */

/* 通常不寫直接讓css處理 */
/* @media (min-width:1367px){
    footer{
        background-color: yellow;
    }
} */