// $是變數
// 利用這個方式可以同時更改所以有帶有$tableColor設定的顏色
// 要寫在前面
$tableColor:#3c6ea7;

// .改％讓它不會互相干擾
%cap {
    font-size: 24px;
    letter-spacing: 5px;
}

.eBase {
    width: 90%;
    margin: 30px auto;
}

@mixin tdw {

    // &代父層名稱
    &:nth-of-type(1) {
        width: 120px;
        text-align: center;
    }

    &:nth-of-type(3) {
        width: 70px;
        text-align: center;
    }

    &:nth-of-type(4) {
        width: 50px;
        text-align: right;
    }
}

// @mixin可以帶參數 $alpha:預設值（如果以下沒給就是帶0.5)
@mixin zTable($fontColor, $bgColor,$alpha:05) {
    tr {
        &:nth-of-type(odd) {
            td {
                background-color: rgba($bgColor,$alpha*0.65);
            }
        }

        &:nth-of-type(even) {
            td {
                background-color: rgba($bgColor,$alpha);
            }
        }
        
        &:hover {
            td {
                color: $fontColor;
                @if $alpha*2>0.8{
                    $alpha:0.8;
                }@else{
                    $alpha:$alpha*2;
                }
                // @if 條件{

                // }@else if 條件{

                // }
                background-color: rgba($bgColor,$alpha*2);
            }
        }
    }
}

.ts1 {
    border: 5px solid $tableColor;

    @extend .eBase;

    caption {
        // 擴充(繼承）樣式
        @extend %cap;
    }

    // 根據上面帶的$alpha可以直接給0.7深淺
    @include zTable(#fff, $tableColor,0.5);

    // tr {
    //     &:nth-of-type(odd) {
    //         background-color: rgba($tableColor, 0.5);
    //     }

    //     &:nth-of-type(even) {
    //         background-color: rgba($tableColor, 0.7);
    //     }
    // }

    th {
        border: 1px solid $tableColor;
        border-color: $tableColor;
        color: white;
        padding: 5px 0px;
    }

    td {
        border: 1px solid $tableColor;
        padding: 5px;
        @include tdw();


    }
}

.ts3 {
    @extend .eBase;
    border-collapse: separate;
    border-spacing: 3px;


    caption {
        @extend %cap;
    }



    tr {
        &:nth-of-type(-n+4) {
            td {
                background-color: rgba($tableColor, 0.3);
            }
        }

        &:nth-of-type(-n+5) {
            td {
                background-color: rgba($tableColor, 0.6);
            }
        }

        &:hover {
            td {
                background-color: rgba($tableColor, 1);
                color: white;
            }
        }
    }



    td {
        padding: 8px;
        @include tdw();
    }
}